.App {
  width: 800px;
  height: 570px;
  border: 3px solid aqua;
  background-color: white;
  margin: 10px auto;
  position: relative;
}

.page {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.App h1 {
  text-align: center;
}

/*----lefpage----*/

.error {
  color: red;
  margin-left: 10px;
}
.leftPage {
  margin-top: 25px;
}
#content {
  margin-left: 27px;
  width: 240px;
}

#remindDay {
  width: 125px;
  margin-right: 17px;
}
label {
  margin-left: 10px;
}

input {
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.leftPage button {
  position: absolute;
  background-color: #0a0a23;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 25px;
}
/*----lefpage----*/

/*----Rightpage----*/
.rightPage {
  margin-left: 10px;
  padding-left: 20px;
  margin-right: 20px;
}
/*----Rightpage----*/

/*----ReminItem----*/
.remindItem {
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding-left: 10px;
  padding-top: 0px;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.buttonDelete {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  padding-bottom: 10px;
  margin-right: -25px;
}

.buttonDelete button {
  background-image: url("./images/Group\ 3.png");
  background-size: cover;
  border: none;
  width: 2em;
  height: 2em;
}

.remindItem h4 {
  padding-top: 5px;
  margin-top: 1px;
}

.remindItem p {
  margin-top: -10px;
  margin-bottom: 5px;
}

.border-all-item {
  max-height: 400px;
  overflow: auto;
  border: 2px solid greenyellow;
  height: 400px;
  width: 350px;
  padding: 10px;
  margin-top: 25px;
  border-radius: 5px;
}
/*----ReminItem----*/
